= form_with scope: :page, url: pages_path, local: true do |form| 
	= form.label :title
	br
	= form.text_field :title 
	br
	br
	= form.label :content 
	br
	= form.text_area :content
	br
	= form.submit 
