h1 Listing pages

= link_to 'New page', new_page_path
 
table class="table table-dark"
  tr
    th Title
    th Content
    th colspan='3' 
		
  -@pages.each do |page|
    tr
      td = page.title 
      td = page.content 
      td = link_to 'Show', page_path(page) 
      td = link_to 'Edit', edit_page_path(page)
      td = link_to 'Delete', pages_path, method: :destroy, data: {confirm: 'Are you sure?'}
			
  

